<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Devis
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="devis" frontName="quotation">
            <module name="Devis_Quotation"/>
        </route>
    </router>
</config>
